<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="icon" href="{{ url_for('static', filename='icon.ico') }}">
		<title>WLUS || Login</title>
	</head>
	<body style="background-color:#343c49;color:#ffffff;">
		<div style="background-color:#606c7f;width:35%;right:32.5%;bottom:50%;position:absolute;border-radius:10px;">
			<h2 style="text-align:center;">Login</h2>
			<div>
				<div class="col-md-11">
					<div class="form-group">
						<label for="usr">	Username:</label>
						<input type="text" id="username" class="form-control" id="usr">
					</div>
					<div class="form-group">
						<label for="pwd">	Password:</label>
						<input type="password" id="password" class="form-control" id="pwd">
					</div>
					<label><input type="checkbox" id="IsAdmin" value="">Admin Login</label>
				</div>
				<button style="padding:6px 0px 6px 0px; position:absolute; bottom:35%" id="submit" onclick="$('#submit').prop('disabled',true);handleLogin();" class="btn btn-default">Login</button>
				<script>
					function handleLogin()
					{
						loginType = "Basic";
						if($("#IsAdmin").prop('checked') == true){
							loginType = "Admin";
						}
						$.ajax({
						   url:'/handleLogin',
						   contentType: 'application/json',
						   type:'POST',
						   data: JSON.stringify({'username':$("#username").val(), 'password':$("#password").val(), 'loginType':loginType})
						}).done(function(data){
							if(data == "True")
							{
								window.location.reload(true);
							}
							else
							{
								console.log("Incorrect Login")
								$('#submit').prop('disabled',false);
								$("#username").css("background-color", "#ffcccc");
								$("#password").css("background-color", "#ffcccc");
							}
						});
					}
				</script>
			</div>
		</div>
		<p style="position:absolute;bottom:0;text-align:center;">`{{ServerName}}` Version {{ServerVersion}}</p>
	</body>
</html>